# Dependencies
node_modules/

# Build output
.next/
dist/
build/
out/
coverage/

# Environment files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
Thumbs.db
*.pem
*.tsbuildinfo

# Markdown files (except docs/)
*.md
!/docs/**/*.md
